<div>
    <div class=“dashboard-review”>
       <h2><a class=“link” href="../singlesongreview.handlebars">{{title}}</a></h2>
        <div>
        <h4>{{Song.title}}</h4>
        <p>{{content}}</p>
        <p>Posted by <span>{{user.username}}</span> on {{format_date date_created}}</p>
        </div>
    </div>
</div>